body {
  background-color: #472d2d;
  align-items: center;
}

.nav-bar li {
  display: inline;
}

nav {
  border: 1px solid #fdffae;
  background-color: #555843;
  font-size: 18px;
  border-radius: 5px;
}

.nav-bar li a {
  color: #aec3ae;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #90a290;
  background-color: #feffaedf;
  padding: 10px;
  border-radius: 5px;
}

.container {
    display: grid;/* you need to define template */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 
}

.box-1{
    margin: 40px;
    
}

button{
    padding: 5px 20px 5px 20px;
}

.carrot{
    height: 30px;
    
}

.const {
    margin: auto;
    width: 1050px;
  }

img{
    height: 120%;
}

.footer {
    display: flex;
    justify-content: center;
}