@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #472d2d;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar li {
  display: inline;
}

nav {
  border: 1px solid #fdffae;
  background-color: #555843;
  font-size: 18px;
  border-radius: 5px;
}

.nav-bar li a {
  color: #aec3ae;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #90a290;
  background-color: #feffaedf;
  padding: 10px;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box-1 {
  margin: 40px;
  margin-bottom: 90px;
}

button {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  border: 5px solid #99bc85;
  background-color: #e8c872;
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  font-size: large;
}

button:hover {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  border: 5px solid red;
  background-color: #99bc85;
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  font-size: large;
}

.carrot {
  height: 30px;
}

.const {
  margin: auto;
  width: 1050px;
}

img {
  height: 120%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #55584370;
  color: #aec3ae;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
